In [1]:
import pandas as pd
import numpy as np

In [2]:
def SNP_dataset(file):
    # loading the SNPs data
    SNP = pd.read_table(file, header=0, sep=' ')
    
    # extracting the IID
    for i in range(SNP.shape[0]):
        #SNP.loc[i,'IID'] = SNP.loc[i,'IID'].split('_')[5]+'_'+SNP.loc[i,'IID'].split('_')[6]+'_'+SNP.loc[i,'IID'].split('_')[7]
        SNP.loc[i,'IID'] = SNP.loc[i,'IID'].split('_')[7]
    
    # deleting monomorph SNPs
    for snp in SNP.columns[6:]:
        if SNP.describe().loc['mean', snp] == 0:
            SNP = SNP.drop(snp, axis=1)
    
    # if 2 appereance is lower than 5% of the SNP column data, all 2 are changed for a 1 in that SNP
    for snp in SNP.columns[6:]:
        if list(SNP[snp]).count(2)/len(SNP[snp]) <= 0.05:
            SNP[snp] = [1 if i == 2 else i for i in SNP[snp]]
                
    return(SNP)

In [3]:
Risk_A3 = SNP_dataset('SNPs_AD_Risk_ADNI3_recoded.RAW')
Risk_A2GO = SNP_dataset('SNPs_AD_Risk_ADNI2GO_recoded.RAW')
Risk_A1 = SNP_dataset('SNPs_AD_Risk_ADNI1_recoded.RAW')
Proxy_A3 = SNP_dataset('SNPs_AD_Proxy_ADNI3_recoded.RAW')
Proxy_A2GO = SNP_dataset('SNPs_AD_Proxy_ADNI2GO_recoded.RAW')
Proxy_A1 = SNP_dataset('SNPs_AD_Proxy_ADNI1_recoded.RAW')

In [21]:
Risk_A3

,FID,IID,PAT,MAT,SEX,PHENOTYPE,rs4575098_A,rs4663105_C,rs11763230_T,rs7935829_G,...,rs59735493_A,rs113260531_A,rs28394864_A,rs2632516_C,rs8093731_T,rs76726049_C,rs41289512_G,rs76320948_T,rs3865444_A,rs6014724_G
0,ADNI3_002_S_6007_ADNI3_002_S_6007,6007,0,0,0,-9,0,2,0,0,...,1,1,1,0,0,0,1,0,1,1
1,ADNI3_002_S_6009_ADNI3_002_S_6009,6009,0,0,0,-9,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
2,ADNI3_002_S_6030_ADNI3_002_S_6030,6030,0,0,0,-9,1,1,0,0,...,0,0,0,2,0,0,0,0,1,1
3,ADNI3_002_S_6053_ADNI3_002_S_6053,6053,0,0,0,-9,1,1,0,0,...,1,0,1,1,1,0,0,1,1,1
4,ADNI3_002_S_6066_ADNI3_002_S_6066,6066,0,0,0,-9,1,2,1,0,...,0,1,2,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,ADNI3_941_S_6514_ADNI3_941_S_6514,6514,0,0,0,-9,0,1,1,2,...,0,0,0,1,0,0,0,0,1,0
323,ADNI3_941_S_6546_ADNI3_941_S_6546,6546,0,0,0,-9,1,0,0,0,...,1,0,2,2,0,0,1,0,0,0
324,ADNI3_941_S_6575_ADNI3_941_S_6575,6575,0,0,0,-9,0,0,0,1,...,0,0,2,1,0,0,0,0,1,0
325,ADNI3_941_S_6580_ADNI3_941_S_6580,6580,0,0,0,-9,1,0,0,1,...,1,0,0,1,0,0,0,0,1,1
326,ADNI3_941_S_6581_ADNI3_941_S_6581,6581,0,0,0,-9,1,1,1,0,...,0,1,1,1,0,0,0,0,1,0

In [5]:
with open('Risk_A3.txt', 'w') as f:
    dfAsString = Risk_A3.to_string(header=True, index=False)
    f.write(dfAsString)
f.close()
    
with open('Risk_A2GO.txt', 'w') as f:
    dfAsString = Risk_A2GO.to_string(header=True, index=False)
    f.write(dfAsString)
f.close()
    
with open('Risk_A1.txt', 'w') as f:
    dfAsString = Risk_A1.to_string(header=True, index=False)
    f.write(dfAsString)
f.close()

with open('Proxy_A3.txt', 'w') as f:
    dfAsString = Proxy_A3.to_string(header=True, index=False)
    f.write(dfAsString)
f.close()

with open('Proxy_A2GO.txt', 'w') as f:
    dfAsString = Proxy_A2GO.to_string(header=True, index=False)
    f.write(dfAsString)
f.close()
    
with open('Proxy_A1.txt', 'w') as f:
    dfAsString = Proxy_A1.to_string(header=True, index=False)
    f.write(dfAsString)
f.close()