In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

S'ha transformat el fitxer txt per un csv. 

Es carreguen les dades del fitxer.

In [2]:
def load_data(path):
    dataset = pd.read_csv(path, header=0, delimiter=';')
    return(dataset)

In [3]:
demographic = load_data('20211025_ADNI_demographics.csv')

In [4]:
demographic

,RID,VISCODE2,PTID,COLPROT,ORIGPROT,EXAMDATE,DX.bl,AGE,PTGENDER,PTEDUCAT,APOE4,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,10,bl,011_S_0010,ADNI1,ADNI1,10/11/2005,AD,73.9,Female,12.0,1.0,NaN,NaN,NaN,NaN
1,10,m06,011_S_0010,ADNI1,ADNI1,09/05/2006,AD,73.9,Female,12.0,1.0,NaN,NaN,NaN,NaN
2,10,m12,011_S_0010,ADNI1,ADNI1,09/11/2006,AD,73.9,Female,12.0,1.0,NaN,NaN,NaN,NaN
3,10,m18,011_S_0010,ADNI1,ADNI1,10/05/2007,AD,73.9,Female,12.0,1.0,NaN,NaN,NaN,NaN
4,10,m24,011_S_0010,ADNI1,ADNI1,07/11/2007,AD,73.9,Female,12.0,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15508,999,bl,029_S_0999,ADNI1,ADNI1,21/12/2006,AD,70.8,Male,12.0,0.0,NaN,NaN,NaN,NaN
15509,999,m06,029_S_0999,ADNI1,ADNI1,13/09/2007,AD,70.8,Male,12.0,0.0,NaN,NaN,NaN,NaN
15510,999,m12,029_S_0999,ADNI1,ADNI1,11/03/2008,AD,70.8,Male,12.0,0.0,NaN,NaN,NaN,NaN
15511,999,m18,029_S_0999,ADNI1,ADNI1,17/06/2008,AD,70.8,Male,12.0,0.0,NaN,NaN,NaN,NaN
15512,999,m24,029_S_0999,ADNI1,ADNI1,09/01/2009,AD,70.8,Male,12.0,0.0,NaN,NaN,NaN,NaN

Es pot veure com s'han creat unes columnes, _Unnamed: 1x_ , aparentment buides. Es comprova si aquestes columnes estan realment buides.

In [5]:
demographic[['Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']].describe()

       Unnamed: 11  Unnamed: 12  Unnamed: 13  Unnamed: 14
count          0.0          0.0          0.0          0.0
mean           NaN          NaN          NaN          NaN
std            NaN          NaN          NaN          NaN
min            NaN          NaN          NaN          NaN
25%            NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN
max            NaN          NaN          NaN          NaN

Com el recompte surt a 0 i totes les altres característiques estadístiques de les columnes selccionades tene un valor de _NaN_ es pot afirmar amb certesa que les columnes es troben buides, per tant, s'eliminen del dataset.

In [6]:
demographic = demographic.drop(['Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14'], axis=1)
demographic

,RID,VISCODE2,PTID,COLPROT,ORIGPROT,EXAMDATE,DX.bl,AGE,PTGENDER,PTEDUCAT,APOE4
0,10,bl,011_S_0010,ADNI1,ADNI1,10/11/2005,AD,73.9,Female,12.0,1.0
1,10,m06,011_S_0010,ADNI1,ADNI1,09/05/2006,AD,73.9,Female,12.0,1.0
2,10,m12,011_S_0010,ADNI1,ADNI1,09/11/2006,AD,73.9,Female,12.0,1.0
3,10,m18,011_S_0010,ADNI1,ADNI1,10/05/2007,AD,73.9,Female,12.0,1.0
4,10,m24,011_S_0010,ADNI1,ADNI1,07/11/2007,AD,73.9,Female,12.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
15508,999,bl,029_S_0999,ADNI1,ADNI1,21/12/2006,AD,70.8,Male,12.0,0.0
15509,999,m06,029_S_0999,ADNI1,ADNI1,13/09/2007,AD,70.8,Male,12.0,0.0
15510,999,m12,029_S_0999,ADNI1,ADNI1,11/03/2008,AD,70.8,Male,12.0,0.0
15511,999,m18,029_S_0999,ADNI1,ADNI1,17/06/2008,AD,70.8,Male,12.0,0.0
15512,999,m24,029_S_0999,ADNI1,ADNI1,09/01/2009,AD,70.8,Male,12.0,0.0

Un cop eliminades, s'ha de comrpovar que totes les columnes del dataset són de la classe adient, és a dir, que les columnes que conten valor de tipus int, siguin de classe int, etcètera.

In [7]:
for i in demographic.columns:
    print(i, ':', demographic[i].dtypes)

RID : object
VISCODE2 : object
PTID : object
COLPROT : object
ORIGPROT : object
EXAMDATE : object
DX.bl : object
AGE : float64
PTGENDER : object
PTEDUCAT : float64
APOE4 : float64

Es veu fàcilment com la columna _RID_, que és un identificador, i la columna _APOE4_, que indica el nombre de gens actuis referents a l'Alzheimer de cada cromosoma, haurien de ser de tipis int, però, el primer és un objecte i el segon s'ha carregat com a float. Per tant, es canvia el tipus de classe d'aquestes dues columnes.

Per estalviar errors a l'hora de canviar el tipus de dades, s'ignoraran i es canviaran més tard. A més, els NA de la columna _APOE4_ s'omplen amb un valor de 99.

In [8]:
# Es canvia el type de les columnes 'RID' i 'APOE4'
for i in range(demographic.shape[0]):
    demographic.loc[i,'RID'] = pd.to_numeric(demographic.loc[i,'RID'], errors='ignore')

demographic['APOE4'] = demographic['APOE4'].fillna(99).astype(np.int64)

In [9]:
# Es comprova que tots els valors de les columnes s'hagin canviat correctament 
rid_errors = []
apoe_errors = []

for i in range(demographic.shape[0]):
    if type(demographic.loc[i, 'RID']) != np.int64:
        rid_errors.append(i)
    if type(demographic.loc[i, 'APOE4']) != np.int64:
        apoe_errors.append(i)

print('rid errors: ', len(rid_errors))
print('apoe 4 errors: ', len(apoe_errors))

rid errors:  14
apoe 4 errors:  0

In [10]:
# Es mira com són les dades que causen errors
demographic['RID'][rid_errors]

2626    11/09/2007
2638    16/11/2012
2639    16/11/2012
2640    22/01/2013
2641    14/03/2013
2642    14/03/2013
2643    14/03/2013
2644    14/03/2013
2645    14/03/2013
2646    24/11/2014
2647    18/12/2014
2648    24/07/2015
2659    13/02/2019
2660    04/03/2019
Name: RID, dtype: object

Totes les files que no han canviat de tipus, tenen dates com a valors, s'observa com són els altres valors de la fila, en cas que les dades de les altres columnes siguin irrellevants, s'eliminen les files.

In [11]:
demographic.iloc[rid_errors]

,RID,VISCODE2,PTID,COLPROT,ORIGPROT,EXAMDATE,DX.bl,AGE,PTGENDER,PTEDUCAT,APOE4
2626,11/09/2007,00:00:00.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99
2638,16/11/2012,09:40:12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99
2639,16/11/2012,09:40:12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99
2640,22/01/2013,14:01:31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99
2641,14/03/2013,19:16:45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99
2642,14/03/2013,19:16:45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99
2643,14/03/2013,19:16:46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99
2644,14/03/2013,19:16:47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99
2645,14/03/2013,19:16:47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99
2646,24/11/2014,19:16:54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99
2647,18/12/2014,19:16:54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99
2648,24/07/2015,19:17:26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99
2659,13/02/2019,22:44:55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99
2660,04/03/2019,19:46:01.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99

In [12]:
# Les files no aporten informació. Es podem eliminar
demographic = demographic.drop(rid_errors, axis=0)

#Es resetegen els índex de les fles
demographic = demographic.reset_index(drop = True)

# S'acava de definir la classe de la columna sense errors
demographic['RID'] = pd.to_numeric(demographic['RID'])

In [13]:
for i in demographic.columns:
    print(i,': ', demographic[i].dtypes)

RID :  int64
VISCODE2 :  object
PTID :  object
COLPROT :  object
ORIGPROT :  object
EXAMDATE :  object
DX.bl :  object
AGE :  float64
PTGENDER :  object
PTEDUCAT :  float64
APOE4 :  int64

Ara que les columnes són de la classe adquada per treballar amb elles, es pot començar a netejar el dataset.

Primer de tot, es comprova si hi ha NAs, NULLs o NaNs.

In [14]:
print(demographic.isna().sum())

RID            0
VISCODE2       3
PTID        1632
COLPROT     1632
ORIGPROT    1632
EXAMDATE    1632
DX.bl       1652
AGE         1634
PTGENDER    1632
PTEDUCAT    1632
APOE4          0
dtype: int64

Es pot veure com hi ha diversos _missings_ dins del dataset. És facil veure com la majoria de columnes tenen el mateix nombre de NAs, per tant, no es descabellat pensar que hi ha files senceres sense informació. Es comprova, doncs, si la hipótesis és correcta mirant, per exemple, els NAs d'un subset creat a partir dels índex de les files on _PTID_ és un _missing_.

In [15]:
# Comprovem com són les files per la columna 'PTID' quan aquesta té valor null
demographic[demographic['PTID'].isna()].isna().sum()

RID            0
VISCODE2       3
PTID        1632
COLPROT     1632
ORIGPROT    1632
EXAMDATE    1632
DX.bl       1632
AGE         1632
PTGENDER    1632
PTEDUCAT    1632
APOE4          0
dtype: int64

El recompte de NAs confirma la hipòtesi descrita. Com aquestes files no aporten cap informació, s'eliminen i es comprova, un cop més, el nombre de NAs.

In [16]:
# Les files no aporten informació. Es podem eliminar
demographic = demographic.drop(demographic.index[demographic['PTID'].isna()].tolist(), axis=0)

#Es resetegen els índex de les fles
demographic = demographic.reset_index(drop = True)

In [17]:
print(demographic.isnull().sum())

RID          0
VISCODE2     0
PTID         0
COLPROT      0
ORIGPROT     0
EXAMDATE     0
DX.bl       20
AGE          2
PTGENDER     0
PTEDUCAT     0
APOE4        0
dtype: int64

Un cop netejat el dataset, ja es pot treballar amb ell. Per omplir els _missings_ que falten, primer s'ha de mirar si el pacient apareix més cops dins de la base de dades. Per fer això, s'ha de crear un ID propi de cada pacient. Aquest ID, surt dels 4 últims dígits dels valors de la columns _PTID_. Abans d'extreure aquest ID, s'ha de comprovar que tots els _PTID_ segueixen el mateix patró.

In [18]:
id_error = []
for i in range(demographic.shape[0]):
    check = bool(re.match(r'[0-9][0-9][0-9]_S_[0-9][0-9][0-9][0-9]+', str(demographic['PTID'][i])))
    if not check:
        id_error.append(i)
        
print('id_error: ', len(id_error))

id_error:  0

Un cop vist que tots els _PTID_ segueixen el mateix patró, ja es pot extreure el ID.

In [19]:
# Es transforma la columna 'PTID' en un identificador de tipus int quedant-nos només amb els 4 últims dígits del str
for i in range(demographic.shape[0]):
    demographic.loc[i,'PTID'] = demographic.loc[i,'PTID'].split('_')[2]

demographic

,RID,VISCODE2,PTID,COLPROT,ORIGPROT,EXAMDATE,DX.bl,AGE,PTGENDER,PTEDUCAT,APOE4
0,10,bl,0010,ADNI1,ADNI1,10/11/2005,AD,73.9,Female,12.0,1
1,10,m06,0010,ADNI1,ADNI1,09/05/2006,AD,73.9,Female,12.0,1
2,10,m12,0010,ADNI1,ADNI1,09/11/2006,AD,73.9,Female,12.0,1
3,10,m18,0010,ADNI1,ADNI1,10/05/2007,AD,73.9,Female,12.0,1
4,10,m24,0010,ADNI1,ADNI1,07/11/2007,AD,73.9,Female,12.0,1
...,...,...,...,...,...,...,...,...,...,...,...
13862,999,bl,0999,ADNI1,ADNI1,21/12/2006,AD,70.8,Male,12.0,0
13863,999,m06,0999,ADNI1,ADNI1,13/09/2007,AD,70.8,Male,12.0,0
13864,999,m12,0999,ADNI1,ADNI1,11/03/2008,AD,70.8,Male,12.0,0
13865,999,m18,0999,ADNI1,ADNI1,17/06/2008,AD,70.8,Male,12.0,0
13866,999,m24,0999,ADNI1,ADNI1,09/01/2009,AD,70.8,Male,12.0,0

Es mira si es té la informació necessària per omplir els _missings_ que falten. Però primer es comprova si cap pacient té _missings_ a les dues columnes torbades, _DX.bl_ i _AGE_.

In [20]:
# Es busca i guarda el índex dels pacients amb missings a DX.bl
dx = demographic[demographic['DX.bl'].isna()].index.to_list()

# Es busca i guarda el índex dels pacients amb missings a AGE
age = demographic[demographic['AGE'].isna()].index.to_list()

print(age[0] in dx)
print(age[1] in dx)

False
False

In [21]:
# Es busca i guarda el PTID dels pacients amb missings a DX.bl
idxs = demographic[demographic['DX.bl'].isna()]['PTID'].to_list()

# Es comprova si el pacient apareix més d'un cop a la base de dades
pacient = [i for i in idxs if len(demographic[demographic['PTID'] == i]) == 1]

# Nombre de pacients amb missing
print('pacients incomplets: ', len(pacient))

pacients incomplets:  20

In [22]:
# Es repeteix el procediment anterioir per als missings a la columna AGE

# Es busca i guarda el PTID dels pacients amb missings a AGE
idxs = demographic[demographic['AGE'].isna()]['PTID'].to_list()

# Es comprova si el pacient apareix més d'un cop a la base de dades
pacient = [i for i in idxs if len(demographic[demographic['PTID'] == i]) == 1]

# Nombre de pacients amb missing
print('pacients incomplets: ', len(pacient))

pacients incomplets:  2

Com no hi ha més informació sobre els pacients amb _missings_ , no podem omplir el NAs que queden al dataset.

In [23]:
demographic

,RID,VISCODE2,PTID,COLPROT,ORIGPROT,EXAMDATE,DX.bl,AGE,PTGENDER,PTEDUCAT,APOE4
0,10,bl,0010,ADNI1,ADNI1,10/11/2005,AD,73.9,Female,12.0,1
1,10,m06,0010,ADNI1,ADNI1,09/05/2006,AD,73.9,Female,12.0,1
2,10,m12,0010,ADNI1,ADNI1,09/11/2006,AD,73.9,Female,12.0,1
3,10,m18,0010,ADNI1,ADNI1,10/05/2007,AD,73.9,Female,12.0,1
4,10,m24,0010,ADNI1,ADNI1,07/11/2007,AD,73.9,Female,12.0,1
...,...,...,...,...,...,...,...,...,...,...,...
13862,999,bl,0999,ADNI1,ADNI1,21/12/2006,AD,70.8,Male,12.0,0
13863,999,m06,0999,ADNI1,ADNI1,13/09/2007,AD,70.8,Male,12.0,0
13864,999,m12,0999,ADNI1,ADNI1,11/03/2008,AD,70.8,Male,12.0,0
13865,999,m18,0999,ADNI1,ADNI1,17/06/2008,AD,70.8,Male,12.0,0
13866,999,m24,0999,ADNI1,ADNI1,09/01/2009,AD,70.8,Male,12.0,0